.container {
  padding: 10px;
  width: 380px;
  margin: 0 auto;
  border-style: solid;
  grid-template-rows: auto;
}

.header {
  width: 380px;
  height: 100px;
  border-style: solid;
  border-color: blue;
}

input.checked0{
  background-color: blue;
}
input.checked1{
  background-color: red;
}

p.checked1{
  text-decoration: line-through;
}

.content {
  width: 380px;
  height: 400px;
  border-style: solid;
  border-color: green;
}


.list {
  width: 350px;
  height: 350px;
}

.add-item {
  width: 380px;
  border-style: solid;
  height: 100px;
  border-color: orange;
  width: 350px;
  height: 50px;
}

.content ul{
  flex: auto;
}
