body{
  padding: 0;
  margin: 0;
  background-color: rgba(0,0,0,0.1);
  font-family: 'Titillium Web', sans-serif;
}


.container {
  width: 430px;
  margin: 0 auto;
  margin:0 auto;
  padding:10px;
}

.header {
  height: 200px;
  background-image: url("../src/img/bg.jpg"); 
  border-radius: 15px 15px 0 0;
  background-size: contain;
  position: relative;
}
 
.clear {
  position: absolute;
  right:20px;
  top: 20px;
  font-size: large;
}

.clear i:hover{
  cursor: pointer;
  text-shadow: 1px 3px 5px red;
  transform: rotate(45deg);
  font-size: x-large;
}

.fa-filter {
  position: absolute;
  right:20px;
  bottom: 20px;
  color: white;
}

.toggle i:hover{
  cursor: pointer;
  text-shadow: 1px 3px 5px red;
  transform: rotate(45deg);
  font-size: x-large;
}

#date{
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: white;
  text-shadow: 1px 3px 5px red;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
}


#checked1{
  color: green;
}

li .fa-check-circle:hover{
  cursor: pointer;
  text-shadow: 1px 3px 5px green;
  transform: scale();
  font-size: large;
}

li .fa-trash:hover{
  cursor: pointer;
  text-shadow: 1px 3px 5px red;
  transform: scale();
  font-size: large;
}


p.checked1{
  text-decoration: line-through;
}

.content {
  height: 400px;
  border-style: solid;
  position: relative;
  background-color: white;
}


.list {
  width: 350px;
  height: 350px;
}

.add-item {
  border-style: solid;
  height: 70px;
  position: relative;
  background-color: white;
  border-radius:  0 0 15px 15px;
}

.content ul{
 padding-left: 5px;
 padding-right: 5px;
 max-height: 100%;
 overflow: scroll;
}

.item{
  display: flex;
  justify-content: space-between;  
}


.add-item i{
margin-left: 5px;
}
::-webkit-input-placeholder{
  font-weight: bold;
  font-size: large;
  font-family: cursive;
}
.add-item input{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  margin-right: 5px;
  border: none;
}
